.form {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.delay-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.delay-input {
  width: 360px;
  height: 40px;
  box-sizing: border-box;
  padding: 8px 16px;

  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.delay-input:hover {
  border-color: #000;
}

.delay-input:active,
.delay-input:focus {
  border-color: #4e75ff;
}

.legend {
  margin-right: auto;
}

.fieldset {
  border-radius: 4px;
  border: 1px solid #808080;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 24px;
}

.fieldset:hover,
.fieldset:focus,
.fieldset:active {
  border-color: #000;
}

input[type='radio'] {
  background-color: #4e75ff;
}

.fulfilled {
  margin-right: 48px;
}

.btn-submit {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.btn-submit:hover {
  background-color: #6c8cff;
}
